/* Base styles */
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: $body-background;
	color: $primary-text;
	font-family: $font-stack;
	font-size: $base-font-size;
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
	font-weight: $light;
	overflow-x: hidden;
	overflow-y: visible;
}